/* admin_courses.css */


.courses-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
}

.courses-table-section{
  flex: 2;
  /* width: 70% ; */
}
.courses-form-section {
    flex: 1;
    min-width: 300px;
}

.courses-card-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.courses-table-header {
    background-color: #b0e0ff;
    color: black;
    border: 2px solid #007bff;
}

.courses-table-row:hover {
    background-color: #f0f8ff;
}

.courses-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.courses-table td,
.courses-table th {
    border: 1px solid #007bff;
    padding: 10px;
    text-align: left;
}

.courses-table th {
    font-weight: bold;
}

.courses-edit-button {
    background-color: #28a745; /* Primary color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px 12px; /* Padding for the button */
    cursor: pointer; /* Cursor pointer on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.courses-edit-button:hover {
    background-color: #218838; /* Darker shade on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.courses-search-card {
    background-color: white;
    border: 1px solid #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.courses-form-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.courses-input-field {
    /* width: 150%; */
    margin-bottom: 15px;
}

.courses-select-field {
    margin-bottom: 5px;
}

.courses-scroll-area {
    margin-bottom: 20px;
    max-height: 500px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .courses-container {
        flex-direction: column; /* Stack vertically on small screens */
        gap: 10px; /* Adjust gap for smaller screens */
    }
}